@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    --cell-size: 200px;
    --board-size: calc((var(--cell-size)) * 3);
    --grid-template: repeat(3, 1fr);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Black Ops One', cursive;
}

#container  {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
}

#container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/assets//background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    filter: blur(5px);
    z-index: -1;
}

@mixin board {
    width: var(--board-size);
    height: var(--board-size);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

@mixin boxStyle {
    background-color: rgba(25, 25, 25, 0.75);
    box-shadow: 0 0 16px 5px rgba(250, 250, 250, 0.5);
    border-radius: 5px;
}

$background-color: rgba(25, 25, 25, 0.75);
$box-shadow: 0 0 5px 2px rgba(250, 250, 250, 0.5);
$border-radius: 5px;

//SETUP CONTAINERS
#setup {
    @include board();
    border-radius: $border-radius;
    text-align: center;
    // display: none; //TO REMOVE ................................TO REMOVE
}

#play-setup-container {
    height: 100%;
    width: 100%;
    background-color: rgba(25, 25, 25, 0.75);
    box-shadow: 0 0 16px 5px rgba(250, 250, 250, 0.5);
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
}


#play-setup-container > h1 {
    font-size: 50px;
}

#instruction-select {
    width: 50%;
    margin: auto;
}


.player-side {
    @include boxStyle();
    box-shadow: 0 0 2px rgba(250, 250, 250, 0.5);
    position: absolute;
    width: 100px;
    height: 600px;
    bottom: 0;
    padding-top: 50px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player1 {
    left: 0;
}

#player2 {
    right: 0;
}

$player-field-position: -200px;
.active-game-player1 {
    left: $player-field-position !important;
    transition: all 0.5s ease;

}

.active-game-player2 {
    right: $player-field-position !important;
    transition: all 0.5s ease;
}

.player-turn {
    box-shadow: 0 0 10px rgba(25, 200, 25, 0.5) !important;
    border-top: 15px solid rgba(25, 200, 25, 0.5);
}

@mixin player-symbol {
    font-size: 60px;
    position: absolute;
    bottom: 40px;
}


#symbol-1, #symbol-2 {
    @include player-symbol();
}


#symbols {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

@mixin buttons {
    font-size: 40px;
    box-shadow: $box-shadow;
    border-radius: 5px;
    cursor: pointer;
}

@mixin buttons-hover {
    background-color: rgba(250, 250, 250, 0.5);
    color: black;
}


#symbols > li {
    padding: 25px 30px;
    @include buttons();
}

#symbols > li:hover {
    @include buttons-hover();
}


.selected {
    transform: scale(1.2);
    background-color: rgba(250, 250, 250, 0.5);
    color: black;
}

.selected-x {
    color:rgba(250, 25, 25, 0.8);
}

.selected-o {
    color:rgba(25, 250, 25, 0.8)
}


#play-button {
    @include buttons();
    width: 40%;
    height: 45px;
    margin: auto;
    display: grid;
    place-content: center;
}

#play-button:hover {
    @include buttons-hover();
}


.none-selected {
    background-color: rgba(250, 25, 25, 0.4);
}   





//GAMEBOARD

#game-board {
    // display: flex;
    // flex-wrap: wrap;
    @include board();
    z-index: 5;
    animation: opacity 0.8s ease;
    border: 1px solid rgba(250, 250, 250, 0.4);
    box-sizing: content-box;
    display: grid;
    grid-template-columns: var(--grid-template);
    grid-template-rows: var(--grid-template);
    grid-auto-flow: row;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.hide {
    display: none !important;
}


.cell {
    background-color: rgba(25, 25, 25, 0.95);
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgba(250, 250, 250, 0.4);
    cursor: pointer;
}

.cell.marked {
    cursor: default;
}




//GAMEOVER RESULT 

#result {
    @include board();
    display: none;
}


#game-over-display {
    @include board();
    @include boxStyle();
    text-align: center;
    padding-top: 20px;
    border-top: 10px solid rgba(250, 25, 25, 0.4);
}

#game-over-display > h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}


.result-message {
    width: 80%;
    height: 50%;
    margin: 5% auto;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px rgba(250, 250, 250, 0.5);
    border-radius: 10px;
}


#result-message-winner {
    display: none;
}

#result-message-tie {
    display: none;
}

#restart-button {
    @include buttons();
    width: 30%;
    height: 45px;
    font-size: 30px;
    display: grid;
    place-content: center;
    position: absolute;
    bottom: 20px;
    left: 10%;
}


#restart-button:hover {
    @include buttons-hover();
}

#restart-button.active-history {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    z-index: 2;
}

#show-game-history {
    @include buttons();
    width: 30%;
    height: 45px;
    font-size: 30px;
    display: grid;
    place-content: center;
    position: absolute;
    bottom: 20px;
    right: 10%;
}

#show-game-history:hover {
    @include buttons-hover();
}


#previous-next{
    width: 90%;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

#previous, #next {
    @include buttons();
    font-size: 30px;
    width: 38%;
    height: 45px;
    place-content: center;
    position: absolute;
    bottom: -60px;
    display: none;
}

.active-previous-next {
    display: grid !important;
}

.disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
    color: gray;
}

.disabled:hover {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
    background-color: inherit !important;
    color: gray !important;
}

#previous {
    left: 60px;
}

#next {
    right: 60px;
}

.button:hover{
    @include buttons-hover();
}

.active-container {
    display: block !important;
}

.active-result {
    display: flex !important;
}

#winner {
    font-size: 60px;
    animation: animation 0.5s linear;
}

@keyframes animation {
    0% {
        transform: scale(10);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }


}