.messageScreen {
    position: relative;
    width: 700px;
    max-width: 100%;
    height: 95%;
    max-height: 95%;
    background-color: #4a4c52;
    /* box-shadow: 0 0 2px rgba(250,250,250,0.5); */
    box-shadow: 0 0 2px var(--themeColor_2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 10px;
}

.messageScreen__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    position: absolute;
    top: 0;
    align-self: center;
}



.messageScreen__header__avatar {
    margin-right: 15px !important;
}

